*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar{
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	/*background-color: lightblue;*/
	height: 50px;
	align-items: center;
}

.logo{
	font-size: 20px;
	font-weight: bold;
	margin-left: 50px;
}

.navlist{
	display: flex;
	gap: 40px;
	font-size: 17px;
	padding-right: 50px;
	align-items: center;
}

.navlists{
	background-color: lightgreen;
	padding: 25px 10px;
}

.navlist a{
	text-decoration: none;
	color: black;
}

.menubar{
	display: none;
}

@media (max-width: 992px)
{

	.navlist a{
		display: none;
	}

	.navlists{
		display: none;
	}

	.menubar{
		display: block;
	}
}



/*navbar end*/
/*page1 start*/

.hero{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.hero img{
	width: 100%;
	display: block;
	object-fit: cover;
}

.hero-content{
	position: absolute;
	top: 40%;
	left: 30%;
	transform: translate(-50%,-50%);
}

.hero-content h1{
	font-size: 40px;
	text-align: center;
	color: white;
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;

}

.hero-content p{
	margin-left: 20px;
	padding: 20px;
	font-size: 16px;
	color: white;
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
}

.hero-content button{
	color:white;
	padding: 10px 20px;
	border-radius: 25px;
	border: 1px solid white;
	background-color: transparent;
	cursor: pointer;
}

.btn1{
	margin-left: 35px;
}


@media (max-width: 720px){

	.hero{
		position: relative;
	}

	.hero-content{
		/*border: 1px solid;*/
		width: 100%;
		position: static;
		transform: none;
		margin-top: 50px;
	}

	.hero-content h1{
		color: black;
		width: 100%;
	}

	.hero-content p{
		font-size: 20px;
		color: black;
		width: 100%;
	}

	.hero-content button{
		margin-left: 150px;
		color: black;
		border: 1px solid lightgrey;
		border-color: black;
		padding: 20px 20px;
		font-size: 18px;
		outline: none;
	}


}

/*3 page*/

.page3{
	display: flex;
	margin-top: 50px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.start{
	margin-top: 50px;
	border: 1px solid lightgrey;
	width: 28%;
	height: 300px;
	padding-top: 50px;

}

.round{
	background: conic-gradient(blue);
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-left: 40px;
	padding-top: 14px;
	padding-left: 14px;
	color: white;
	font-size: 20px;
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
}

.box p{
	font-size: 20px;
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
  	font-weight: bold;
  	padding-top: 20px;
  	padding-left: 40px;
}

.word p{
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 50px;
}

@media ( max-width: 576px){

	.page3{
		width: 90%;
		flex-direction: column;
		padding: 20px;
		margin-left: 20px;
	}

	.start{
		width: 100%;
	}

	.page3{
		margin-top: 0;
	}

}


/*page 2*/
.journey{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 60px;
	width: 90%;
	margin: auto;
	margin-top: 50px;
}
.lefttop{
	display: flex;
	align-items: center;
	gap: 15px;
	/*border: 1px solid;*/
	width: 100%;
	padding-top: 40px;
}

.left h1{
	font-size: 28px;
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
  	letter-spacing: 0.1px;
}

.left1 i{
	width: 50px;
	height: 50px;
	background-color: lightgreen;
	color: black;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;	
}

.left2 h2{
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
}

.left2 p{
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
  	color: grey;
  	line-height: 1.7;
}

.left{
	width: 50%;
}

.right{
	width: 50%;
	display: flex;
	justify-content: center;
}

.circle{
	height: 450px;
	width: 450px;
	border-radius: 50%;
	background-color: black;
	text-align: center;
	color: white;
	margin-left: 100px;
	justify-content: center;
}

.circle h6{
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
	margin-top: 90px;
	margin-bottom: 30px;
	font-size: 30px;
}

.circle input{
	width: 60%;
	padding: 15px;
	margin-bottom: 15px;
	color: grey;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid;
}

.circle button{
	text-align: center;
	margin-top: 20px;
	padding: 15px 30px;
	background:white;
	border: none;
	color: black;
	border-radius: 20px;
	cursor: pointer;
}



@media (max-width: 720px){
	.journey{
		flex-direction: column;
		padding: 20px;
	}

	.left,.right{
		width: 100%;
	}

	.circle{
		text-align: center;
		justify-content: center;
		margin-top: 50px;
	}

	.right{
		width: 450px;
		height: 500px;
		width: 150%;
		margin-right: 100px;
	}

}


/*form page*/


.form{
	margin-top: 50px;
	padding: 100px;
	width: 100%;
	margin: auto;
  	background-color:#f9f9f9;
}

.form h3{
	font-size: 25px;
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
  	text-align: center;
}

.form p{
	color:lightgrey;
	text-align: center;
	font-size: 20px;
	margin-top: 20px;

}

/*Review page*/

.container1 img{
	width: 100%;

}
.container1{
	width: 250px;
	background-color: white;
}
.container2{
	width: 250px;
	background-color: white;
}
.container3{
	width: 250px;
	background-color: white;
}
.container4{
	width: 250px;
	background-color: white;
}
.container2 img{
	width: 100%;
}

.container3 img{
	width: 100%;
}

.container4 img{
	width: 100%;
}

.container{
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	margin: auto;
	padding: 20px;
	margin: 20px;
	justify-content: space-evenly;
}

.iconhead{
	display: flex;
	border-top: 1px solid lightgrey;
	padding: 10px;	
}

.icon1{
	padding: 15px;
}

.names{
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 5px;
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
  	font-size: 25px;
}

.career1 p{
	padding-bottom: 15px;
	padding-left: 30px;
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
  	font-size: 15px;
}

.container{
	background-color: #f9f9f9;
}


/*Courses page*/

.courses{
	padding: 50px;
}

.courses h5{
	font-size: 30px;
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
	text-align: center;
}

.courses p{
	font-size: 20px;
	text-align: center;
}

.border{
	width: 100%;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}

.borderimg{
	margin: 20px;
	width: 350px;
	background-color: #f9f9f9;
}

.borderimg h4{
	padding-top: 20px;
	padding-left: 20px;
	font-size: 20px;
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;

}
.borderimg p{
	padding-left: 20px;
	padding-top: 10px;
}

.borderimg img{
	width: 100%;
}

.USD{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid lightgrey;
}

.USD p{
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
  	padding-right: 100px;
}

.USD img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-left: 10px;
}

.btn11 button{
	padding: 8px 10px;
	color: white;
	background-color:blue;
	border: none;
}

.btn12{
	padding-right: 20px;
}

.btn12 button{
	padding: 10px 10px;
	color: white;	
	background-color: lightgreen;
	border: none;
}

/*index page*/
.index{
	padding: 50px;
	text-align: center;
	background-color: #f9f9f9;
	margin-top: 100px;
	width: 100%;
}

.index h4{
	font-size: 30px;
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
}

.index p{
	font-size: 20px;
}

/*index1*/

.index1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	background-color: #f9f9f9;
}

.indexboxtop{
	border: 1px solid lightgrey;
	width: 30%;
	height: 300px;
	margin-top: 20px;
	background-color: white;
	margin-bottom: 60px;
}

.indexbox{
	display: flex;
	padding-top: 50px;
	padding-left: 50px;
}

.indexbox img{
	width: 75px;
	height: 75px;
	border-radius: 50%;
}


.indexbox1{

	padding: 20px;
}

.indexbox1 h2{
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
 	font-weight: bold;
  
}

.boxess{
	padding-left: 50px;
	padding-top: 20px;
}

.boxess p{
	line-height: 20px;
	letter-spacing: 0.5px;
	word-spacing: 3px;
}

.boxess i{
	padding-top: 20px;
}


@media (max-width: 720px){

	.index1{
		flex-direction: column;
		width: 90%;
		margin-bottom: 50px;
	}

	.indexboxtop{
		width: 90%;
		margin-left: 35px;
		flex-direction: column;

	}

}



/*last page*/


.last{
	width: 100%;
	background-color: blue;	
	display: flex;
	padding: 50px;
}

.last1{
	width: 50%;
	padding: 20px;

}

.last1 p{
	font-size: 32px;
	padding: 10px;
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
  	color: white;
  	font-weight: bold;
}

.last1 h4{
	color: white;
	padding: 10px;
	font-size: 24px;
}

.enter input{
	height: 45px;
	width: 90%;
	margin: 10px;
	border-radius: 5px;
	border: none;
	padding: 10px;
	/*background-color: red;*/
}
.enter.inputlast input{

	height: 150px;
	width: 90%;
	margin: 10px;
	border-radius: 5px;
	border: none;
	padding: 10px;
}
.enter{
	width: 100%;
}

.last1 .inputlast{
	width: 90%;
	height: 120px;
	padding-bottom: 90px;
	/*background-color: lightgrebutten;*/
}

.last1 button{
	margin-top: 20px;
	padding: 10px 10px;
	border-radius: 50px;
	border: none;
	cursor: pointer;
}
.lastright{
	width: 50%;
	padding: 20px;
}
.lastright img{
	width: 100%;
}
.butt{
	padding: 10px;
}


@media(max-width: 768px)
{
	.last{
		width:100%;
		flex-direction: column;
	}
	.last1{
		width: 100%;
	}
	.lastright{
		width: 100%;
	}

	.last{
		padding: 10px;
	}
}